<section class="library">

    <section class="search">

        <input class="search-book-input" type="text" placeholder="Enter title or author">

        <div class="book-details-list">
            <label><input name="detail" type="radio">Author</label>
            <label><input name="detail" type="radio">Title</label>
        </div>

        <button class="submit">Serach</button>

        <input class="book-type-list" list="book-type" placeholder="Select the type of book">

        <datalist id="book-type">
            <option value="Scientific">
            <option value="Adventure">
            <option value="Children">
        </datalist>

    </section>

    <section class="books">

        <div *ngFor="let book of books" class="book">
            <img  class="book-img" src="{{assetsUrl}}{{book.photoName}}.jpg" alt="">
            <h2 class="tittle">{{book.bookName}}</h2>
            <p class="author">{{book.authorName}} {{book.authorSurname}}</p>
            <p class="type">{{book.type}}</p>
        </div>

    </section>

</section>