<section class="manage-library">
    
    <section class="add-book">
        <h2>Add book</h2>
        <section class="book-data">
            <label>Book name:<input type="text"></label>
            <label>Author name:<input type="text"></label>
            <label>Author surname:<input type="text"></label>
            <label>Type:<input type="text" list="book-type"></label>
            <datalist id="book-type">
                <option value="Scientific">
                <option value="Adventure">
                <option value="Children">
            </datalist>
            <label>Photo name:<input type="text"></label>
        </section>
        <button class="submit">Add</button>
    </section>

</section>
